html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, #121416, #0b2f50); /* Standard syntax */
    height: 100%;

    font-family: sans-serif;
    color: #e9ecef;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.icon-link svg {
    width: 8vw;
    height: 8vw;
}

.icon-link svg:hover {
    stroke: #76a4cf;
    transform-origin: center;
    transform: scale(1.1);
}

